@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

main {
    height: 100vh;
}

footer {
    position: relative;
    top: 90%;
    text-align: center;
}

#container {
    height: 100vh;
    width: 100dvw;

    position: relative;
}

/* INPUT */

div#content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

#content div {
    margin: 5px;
}

input[type="button"] {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding: 5px;
    background: rgb(255, 230, 230);
    border-radius: 5px;
}

input[type="button"]:hover {
    background: rgb(255, 190, 190);
    cursor: pointer;
}

#true_button {
    color: white;
    background: rgb(90, 220, 90);
}

#true_button:hover {
    background: rgb(45, 255, 45);
}

#false_button {
    font-weight: bold;
    color: white;
    background: rgb(220, 90, 90);
}
#false_button:hover {
    background: rgb(255, 45, 45);
}

#clr_button, #del_button {
    font-weight: bold;
    background: rgb(160, 160, 220);
}
#clr_button:hover, #del_button:hover {
    background: rgb(130, 130, 255);
}

#op_button {
    background: rgb(230, 225, 255);
}
#op_button:hover {
    background: rgb(225, 200, 255);
}

#result_button {
    background: rgb(175, 200, 255);
    width: 104px;
}
#result_button:hover {
    background: rgb(150, 165, 255);
}

input[type="button"]:active {
    transform: scale(0.90);
    background: black !important;
    color: white;
}

.invisible {
    opacity: 0;
}


#label {
    scroll-behavior: auto;
    max-width: 300px;
    overflow-x: auto;
    white-space: nowrap;

    font-family: "JetBrains Mono", monospace;
    font-size: 1.4em;
    height: 20px;
    background: lightgray;
    padding: 8px 8px 16px 8px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#calculadora p::-webkit-scrollbar {
    display: none;
}

/* TABLE */

#calculadora{
    min-width: 330px;
    max-height: 441.6px;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

#table {
    max-width: 600px;
    max-height: 441.6px;
    font-family: "JetBrains Mono", monospace;
    border: 1px solid black;
    padding: 5px;
    display: none;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: auto;
    white-space: nowrap;
}

#table::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

th {
    background: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.item {
    flex: auto;
}

#type {
    font-weight: bold;
    text-align: center;
}