@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100dvh;
    width: 100dvw;

    position: relative;
}

/* INPUT */

div#content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

#content div {
    margin: 5px;
}

input[type="button"] {
    font-family: monospace;
    font-weight: bold;
    height: 50px;
    width: 50px;
    padding: 5px;
    background: rgb(255, 230, 230);
    border-radius: 5px;
}

#true_button {
    color: white;
    background: rgb(90, 220, 90);
}

#false_button {
    font-weight: bold;
    color: white;
    background: rgb(220, 90, 90);
}

#clr_button {
    font-weight: bold;
    /* color: white; */
    /* background: rgb(255, 190, 190); */
    background: rgb(160, 160, 220);
}

#del_button {
    font-weight: bold;
    /* color: white; */
    /* background: rgb(255, 190, 190); */
    background: rgb(160, 160, 220);
}

#op_button {
    background: rgb(230, 225, 255);
}

#result_button {
    background: rgb(175, 200, 255);
    width: 104px;
}

.invisible {
    opacity: 0;
}


#calculadora p {
    font-family: monospace;
    font-size: 1.4em;
    height: 20px;
    background: lightgray;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

/* TABLE */

#calculadora{
    min-width: 330px;
    max-height: 441.6px;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

#table {
    max-width: 500px;
    max-height: 441.6px;
    font-family: monospace;
    border: 1px solid black;
    padding: 5px;
    display: none;
    border-radius: 10px;
    overflow: scroll;
}

#table::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 20px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.item {
    flex: auto;
}